.cartInfo {
  width: 38vw;
  height: 30vh;
}

.appointmentTextSize {
  font-size: 35px;
}

.options {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 38px;
}

.optionsLocate {
  margin-left: 15px;
  width: 80px;
}
