.appointWrap {
  p {
    font-size: 35px;
  }
}

.locateSelects {
  padding: 20px;
  margin-left: auto;
  width: 470px;
  display: flex;
  justify-content: space-around;
  p {
    font-size: 15px;
    margin-block-start: 0;
    margin-block-end: 0;
  }
}

.head {
  display: flex;
  align-items: center;
}
